.table{
    display: flex;
    margin-top: 15px;
    margin-left: 15px;
    flex-direction: column;
    margin-bottom: 0px;
    padding: 0px;
}

.table_header{
    display: flex;
    flex-direction: row;
    padding: 0px;
}

ul {
    list-style: none;
    font-size: 22px;
    font-family: 'Lora', serif;
}

li{
    border: 1px solid black;
}